body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}


/*
 *
 * Header
 *
 */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  height: 10%;
  transition: min-height 0.3s;
}

.header__inner {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  height: 80%;
  width: 33%;
  max-height: 60px;
  max-width: 220px;
  margin-top: 0.5%;
  margin-left: 40%;
}

/*
 *
 * Top Level Navigation
 *
 */

.nav {
  width: 100%;
  height: 8%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.nav__list {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24.3%;
  height: 100%;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 1%;
}

.nav a {
  text-decoration: none;
  color: #616161;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}

.typeahead.dropdown-menu
{
  max-width: 170px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,.4);
}
.typeahead.dropdown-menu li
{
  font-size: 8pt;
}

/* nav left */

.nav_left {
  width: 100px;
  height: 81%;
  position: relative;
  display: block;
  overflow: scroll;
  z-index: 1;
}

.nav_left__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav_left__item {
  box-sizing: border-box;
  display: inline-block;
  width: 20%;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}

.nav_left__item a {
  width: 20%;
  text-decoration: none;
  color: #616161;
}

.nav_left__item a:hover {
  text-decoration: underline;
  color: #212121;
}

.search
{
  float: left;
  line-height: 30px;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
}

.search input
{
  font-size: 8pt;
  padding-left: 26px;
  background-image: url("./images/icon-search.png");
  background-position: 8px center;
  background-repeat: no-repeat;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
}

.open {
  *z-index: 1000;
}

.open .dropdown-menu {
  display: block;
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

.typeahead {
  margin-top: 2px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/*
 *
 * collapsible list 
 *
 */
.nav_left__list .category
{
  font-size: 100%;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 5px;
}
.nav_left__list .category img
{
  height: 30%;
  max-height: 40px;
  width: 30%;
  max-width: 40px;
}
.nav_left__list .category span
{
  opacity: .5;
}
.nav_left__list .category .category_item
{
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  margin-bottom: 5px;
}
.nav_left__list .category .category_item:hover
{
  background-color: rgba(255,255,255,.03);
}
.nav_left__list .category .category_info
{
  display: block;
  overflow: hidden;
  width: 90%;
  color: #000;
  text-decoration: none;
}
.nav_left__list .category .category_info:hover 
{
  text-decoration: none;
}
.nav_left__list .category .category_info:focus
{
  outline: none;
}
.nav_left__list .category .category_toggle
{
  float: right;
  width: 10%;
  height: 26px;
  cursor: pointer;
  background-image: url("./images/icons/check.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.nav_left__list .category .category_toggle.inactive
{
  opacity: .15;
}
.nav_left__list .category .category_toggle.inactive:hover
{
  opacity: .5;
}
.nav_left__list .category .category_toggle input
{
  display: none;
}

.nav_left__list .list-items
{
  display: none;
}
.nav_left__list .list-items li
{
  border-top: 1px solid rgba(255,255,255,.03);
}
.nav_left__list .list-items li a
{
  display: block;
  font-size: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2px; 
  outline: none;
  color: #000;
  font-weight: normal;
  line-height: 1.4em; 
}
.nav_left__list .list-items li a:hover
{
  background-color: rgba(255,255,255,.03);
  text-decoration: none;
  outline: none;
  color: #001F6F;
}
.nav_left__list .nav_left__list-items li a:active
{
  color: #fff;
  background-color: #444;
}

.blurb{
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  margin-bottom:3px;
}

/*
 *
 * Main
 *
 */

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  height: 82%;
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * Content
 *
 */

.map{
  width: 80%;
  height: 90%;
  position: relative;
}




/*
 *
 * markers
 *
 */
.marker_label
{
  display: none;
  position: relative; 
  left: -50%; 
  top: -8px;
  white-space: nowrap; 
  padding: 2px 4px; 
  font-size: 8pt; 
  background-color: rgba(0,0,0,.7); 
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.marker_title
{
  font-weight: bold;
  max-width: 350px;
}
.marker_uri
{
  font-size: 9pt;
  color: #999;
}
.marker_desc
{
  max-width: 300px;
  color: #555;
  font-size: 9pt;
  margin-top: 10px;
}
.marker_address
{
  font-size: 8pt;
  margin-top: 10px;
  color: #999;
}
.marker_fecini
{
  font-size: 8pt;
  margin-top: 10px;
  color: #999;
}


/*
 *
 * Modals
 *
 *
 */


.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 60%;
  max-width: 600px;
  height: 90%;
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 5%;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #EDEDED);
  background: -webkit-linear-gradient(#fff, #EDEDED);
  background: -o-linear-gradient(#fff, #EDEDED);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.modal-header, .modal-footer{
  background:#f7f7f7;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}
.modal-body{
  overflow-y: scroll;
}
.modal-footer {
    border:none;
    border-top: 1px solid #e7e7e7;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
  }
.modal-footer .btn {
  float:right;
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: relative;
  padding: 1px 1px 1px;
  border: 2px outset buttonface;
  right: 1px;
  text-align: center;
  width: 50px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.modal-footer .btn:hover { background: #00d9ff; }


.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/*
 *
 * Alert
 *
 */
.alert-heading {
  color: inherit;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
/*
 *
 * Footer
 *
 */

footer {
  border-top: 1px solid #E0E0E0;
  width: 100%;
  height: 10%;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #333;
}

.social{
  width: 100%;
  height: 100%;
}

.social img{
  width: 35px;
  height: 35px;
  margin-left: 1%;
  margin-top: 1%;
}

/* COOKIES */

@keyframes desaparecer
{
  0%    {bottom: 0px;}
  80%   {bottom: 0px;}
  100%  {bottom: -50px;}
}

@-webkit-keyframes desaparecer /* Safari and Chrome */
{
  0%    {bottom: 0px;}
  80%   {bottom: 0px;}
  100%  {bottom: -50px;}
}

@keyframes aparecer
{
  0%    {bottom: -38px;}
  10%   {bottom: 0px;}
  90%   {bottom: 0px;}
  100%  {bottom: -38px;}
}

@-webkit-keyframes aparecer /* Safari and Chrome */
{
  0%    {bottom: -38px;}
  10%   {bottom: 0px;}
  90%   {bottom: 0px;}
  100%  {bottom: -38px;}
}

#cookiesms1:target {
    display: none;
}

.cookiesms{ 
  width:100%;
  height:43px;
  margin:0 auto;
  padding-left:1%;
  padding-top:5px;
  font-size: 1.2em;
  clear:both;
  font-weight: strong;
  color: #333;
  bottom:0px;
  position:fixed;
  left: 0px;
  background-color: #FFF;
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
  transition: bottom 1s;
  -webkit-transition:bottom 1s; /* Safari */
  -webkit-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
  -moz-box-shadow:    3px -3px 1px rgba(50, 50, 50, 0.56);
  box-shadow:         3px -3px 1px rgba(50, 50, 50, 0.56);
  z-index:999999999;
}

.cookiesms:hover{
  bottom:0px;
}

.cookies2{
  background-color: #FFF;
  display:inline;
  opacity:0.95;
  filter:alpha(opacity=95);
  position:absolute; 
  left:1%; 
  top:-30px;
  font-size:15px;
  height:30px;
  padding-left:25px;
  padding-right:25px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  -webkit-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
  -moz-box-shadow:    3px -3px 1px rgba(50, 50, 50, 0.56);
  box-shadow:         3px -3px 1px rgba(50, 50, 50, 0.56);
}


